---
const { title } = Astro.props;
import SocialDock from '../components/SocialDock.astro';
import '../styles/global.css';

---
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{title}</title>
</head>
<body class="text-gray-900">
    <main class="max-w-full mx-auto p-6 overflow-hidden">
    <slot />
    </main>
	<SocialDock />
</body>
</html>
